* {
    box-sizing: border-box;
    font-family: 'helvetica neue', 'Apple SD Gothic Neo', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}
p, span {
    font-size: 14px;
}
/*FOOTER*/
footer {
    background-color: #333333;
    border-top: 1px solid #333;
  }
  footer .inner {
    padding: 10px 0 20px 0;
  }
  footer .menu {
    display: flex;
    justify-content: center;
  }
  footer .menu li {
    position: relative;
  }
  footer .menu li::before {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
  }
  footer .menu li:last-child::before {
    display: none;
  }
  footer .menu li a {
    display: block;
    color: #CCC;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
  }
  footer .menu li a.green {
    color: #669900;
  }
  footer .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  footer .btn-group .btn {
    font-size: 12px;
    margin-right: 10px;
  }
  footer .btn-group .btn:last-child {
    margin-right: 0;
  }
  footer .info {
    
    text-align: center;
  }
  footer .info span {
    margin-right: 20px;
    color: #999;
    font-size: 12px;
  }
  footer .info span:last-child {
    margin-right: 0;
  }
  footer .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
  }
  footer .logo {
    margin: 30px auto 0;
  }
