html, body {
    height: 100%;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.4;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }
.contant {
    flex: 1;
}
a:link{
    text-decoration: none;
}

p, span {
    font-size: 14px;
}


.community_new {
    margin-top: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.community_page {
    margin: 152px auto;
    height: 230px;
    text-align: center;
}

.community_page_detail{
    margin-left: 10%;
    margin-right: 10%;
}

.community_new_page {
    margin: 150px auto;
    padding-top: 40px;
    height: 320px;
}

.community_new_page h1{
    padding-left: 10%;
    font-size: 30px;
}

.community_new_page h6{
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 5px;
}

.community_edit_page {
    margin: 150px auto;
    padding-top: 40px;
    height: 320px;
}

.community_edit_page h1{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px;
}

.community_edit_page h6{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}

.commuinty_page_button {
    margin-top: 50px;
    margin-left: 50px;
}

.button_locate{
    padding-left: 10%;
}

.mb-3{
    padding-left: 10%;
    padding-right: 10%;
}

.form-control-sm{
    width:100px;
}

.form-group-row{
    display: flex;
}

textarea .form_title{
    margin-left: 300px;
    padding-left: 100px;
}

textarea .form_content{
    text-align: center;
}

.bottombanner {
    bottom: 0;
}