.container {
    width: 350px;
    height: 380px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    border-radius: 5px 5px;
}

img.logo {
    align-self: center;
    margin: 20px 0;
}
.input_login {
    width: 270px;
    height: 40px;
    margin: 3px auto;
    padding: 0 10px;
    display: block;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-size: 14px;
}
.input_login::placeholder {
    font-size: 12px;
    color: #8e8e8e;    
}
.input_login:focus {
    border: 1px solid #8a8a8a;
    outline: none;
}
#btn_login {
    width: 268px;
    height: 30px;
    margin: 20px auto;
    background-color: #335858;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

/* #btn_login:disabled {
    background-color: #7ad83f;
}
#btn_login:disabled:hover {
    cursor: default;
} */
#btn_login:enabled:hover {
    cursor: pointer;
}
#btn_login:focus {
    outline: none;
}
a {

    
    text-decoration: none;
}
.button_forgot {
    color : #00366B;
    align-self: center;
    font-size: 13px;
    margin-top: 8px;
}
.button_forgot:hover {
    cursor: pointer;
}

.button_signup {
    color : #00366B;
    align-self: center;
    font-size: 13px;
    margin-top: 8px;
}
.button_signup:hover {
    cursor: pointer;
}

p {
    font-weight: bold;
    margin:20px 0;
}
footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:80px;   
    background:#333333;
}

.info {
    text-align: center;
    color: #999999;
    padding-top: 2%;
    font-size: 12px;
}