body {
    text-align: center;
    background-color: #eceaea;
    
    
}

.profile {
    display: flex;
    position: absolute;
    top: 180px;
    width: 800px;
    height: 500px;
    background-color: #fff;;
    left: 50%;
    transform: translatex(-50%);
    border: 1px solid #DBDBDB;
    border-radius: 5%;
    flex: 1;
}

.name {
    position:relative;
    font-size: 1rem;
    right:240px;
    bottom:-230px;
}

.profileimg {
    position:relative;
    width:150px;
    display: inline-block;
    right:80px;
    top:-80px;
}

.information {
    position:relative;
    display: inline-block;
    height:130px;
    bottom:-52px;
}

.information p {
    margin-bottom: 1%;
    font-size: 1.5em;
}

.buttons {
    margin-top: 60px;
    position:relative;
}

.buttons button {
    width:150px;
    margin-left: 30px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #335858;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button1 {
    background-color:  #335858;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:20px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
  
.button1:hover {opacity: 1}
  
footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:80px;   
    background:#333333;
}

.info {
    text-align: center;
    color: #999999;
    padding-top: 2%;
    font-size: 12px;
}

.copyright {
    text-align: center;
    color: #999999;
    padding-top: 2%;
    font-size: 12px;
}