<<<<<<< HEAD
body {
    text-align: center;
    height: 900px;
=======

body {
    text-align: center;
    background-color: #eceaea;
>>>>>>> 21729194e8556c5bdb4a3e79d40d0a3b243f4e31
}

.profile {
    display: flex;
    position: absolute;
    top: 150px;
<<<<<<< HEAD
    width: 1000px;
    height: 600px;
    background-color: skyblue;
    left: 50%;
    transform: translatex(-50%);
    border: dashed 3px gray;
=======
    width: 800px;
    height: 500px;
    background-color: #fff;;
    left: 50%;
    transform: translatex(-50%);
    border: 1px solid #DBDBDB;
>>>>>>> 21729194e8556c5bdb4a3e79d40d0a3b243f4e31
    border-radius: 5%;
}

.name {
    position:relative;
<<<<<<< HEAD
    font-size: 2em;
    right:240px;
=======
    font-size: 1rem;
    right:240px;
    bottom:-230px;
>>>>>>> 21729194e8556c5bdb4a3e79d40d0a3b243f4e31
}

.profileimg {
    position:relative;
<<<<<<< HEAD
    width:350px;
    display: inline-block;
    right:80px;
=======
    width:150px;
    display: inline-block;
    right:80px;
    top:-80px;
>>>>>>> 21729194e8556c5bdb4a3e79d40d0a3b243f4e31
}

.information {
    position:relative;
    display: inline-block;
<<<<<<< HEAD
=======
    height:130px;
    bottom:-52px;
>>>>>>> 21729194e8556c5bdb4a3e79d40d0a3b243f4e31
}

.information p {
    margin-bottom: 1%;
    font-size: 1.5em;
}

.buttons {
    margin-top: 60px;
    position:relative;
}

.buttons button {
    width:150px;
    margin-left: 30px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #335858;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button1 {
    background-color: #335858;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
  
footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:80px;   
    background:#333333;
}

.info {
    text-align: center;
    color: #999999;
    padding-top: 2%;
    font-size: 12px;
}

.copyright {
    text-align: center;
    color: #999999;
    padding-top: 2%;
    font-size: 12px;
}