.title {
  font-size: 2em;
  text-align: center;
}

.explain {
  text-align: center;
  color: gray;
}

.explain li{
  padding-top: 1%;
}

.submit {
  padding-top: 3%;
  text-align: center;
}

.submit p {
  padding-top: 3%;
  padding-bottom: 2%;
}
