body {
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.4;
    color: #333;
    font-size: 14px;
    font-weight: 600;
  }

.title {
    font-size: 2.5em;
    margin-left:10%;

}

.title2 {
    font-size: 2em;
    margin-left:13.2%;
}

a:link{
    text-decoration: none;
}

p, span {
    font-size: 14px;
}

.request_page {
    margin: 25px 5px 100px 5px;
    padding-top: 20px;
    height: 200px;
}

.request_page2 {
    margin: 50px 5px 150px 5px;
    padding-top: 20px;
    height: 200px;
}

.lettertitle{
    font-weight: bold;
    font-size: 25px;
    margin-left: 10%;
}

.letter{
    font-size: 20px;
    margin-left: 13.5%;
}

.letterbutton {
    margin-left:80%;
}

.comment{
    margin-left: 10%;
    margin-right: 10%;
}

.comment_letter{
    margin-left: 10%;
    margin-right: 10%;
}

.comment_text{
    margin-left: 10%;
    margin-right: 10%;
}

.buttonlocate{
    margin-left: 10%;
}

.line{
    margin-left: 10%;
    margin-right: 10%;
}

.line2{
    margin-left: 10%;
    margin-right: 10%;
}

#contain{
    margin-left: 2.6%;
    margin-right: 2.8%;
    border-radius: 15px;
    border-width: 2px;
}

.comment_let2{
    margin-top: 10px;
    margin-left: 20px;
}

.comment_let3{
    margin-left: 20px;
}

#peopleicon{
    margin-right: 15px;
}

#peopleicon2{
    margin-right: 3px;
}

.mentee_request{
    margin-left: 10%;
    font-size : 35px;
}

.nomenting{
    margin-left: 13%;
}