header {
    height:110px;
    background:#F6F5F0;
}


.title {
    font-size: 2.5em;
    text-align: center;
}

.submit {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;

}

.submit p {
    margin-top: 1%;
    margin-bottom: 1%;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;   
    background:#333333;
}

.info {
    text-align: center;
    color: #999999;
    padding-top: 2%;
    font-size: 12px;
}

.copyright {
    text-align: center;
    color: #999999;
    padding-top: 2%;
    font-size: 12px;
}