{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멘팅 Menting</title>
    <link href="{% static 'css/menubar.css' %}" rel="stylesheet">
   
</head>

<body>
    <div class="headerlogo">
        <a href="http://127.0.0.1:8000/"><img src="{% static 'img/멋사로고.png' %}" alt=""></a>
        {% if user.is_authenticated %}
        <div class="rightnav">
            <a class="nav-right" href="{% url 'logout' %}">로그아웃</a>
        </div>
        <div class="leftnav">
            <a class="nav-left" href="{% url 'mypage' %}">{{user.name}}님의my page</a>
        </div>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <ul class="menu">
        <li class="menu-item2"><a href="{% url 'search_page' %}" class="menu-link">선배찾기</a></li>
        <li class="menu-item2"><a href="community/" class="menu-link">공지사항</a></li>
        <li class="menu-item2"><a href="notice/" class="menu-link">커뮤니티</a></li>
    </ul>
    {%else%}
    <ul class="menu">
        <li class="menu-item"><a href="http://127.0.0.1:8000/login/" class="menu-link">로그인</a></li>
        <li class="menu-item"><a href="http://127.0.0.1:8000/signup/" class="menu-link">회원가입</a></li>

        <li class="menu-item"><a href="community/" class="menu-link">공지사항</a></li>
        <li class="menu-item"><a href="notice/" class="menu-link">커뮤니티</a></li>
    </ul>
    {% endif %}
          
    
    {% block content %}
    {% endblock content %}
    
</body>
</html>