{% extends 'accounts/base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Menting</title>

  <!--파비콘-->
  <!--<link rel="shortcut icon" href="favicon.ico" />-->
  <link rel="icon" href="static/img/패비콘.png" />
  <!--브라우저 스타일 초기화-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <!--Google Fonts - 나눔고딕-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
  <!--Google Material Icons-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="{% static 'css/map2.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main2.css' %}" />


  <!--GSAP & ScrollToPlugin-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
    integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js"
    integrity="sha512-nTHzMQK7lwWt8nL4KF6DhwLHluv6dVq/hNnj2PBN0xMl2KaMm1PM02csx57mmToPAodHmPsipoERRNn4pG7f+Q=="
    crossorigin="anonymous"></script>
  <!--Swiper-->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!--ScrollMagic-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
  <!--Lodash-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"
    integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww=="
    crossorigin="anonymous"></script>

  <script defer src="static/js/main2.js"></script>
</head>

<body>

  <!--HEADER-->
  

  
  <!--VISUAL-->
  <!--PROMOTION-->
  <section class="notice">
    <div class="promotion">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="static/img/슬라이드1.png" style="margin-left:20px;" />

          </div>
          <div class="swiper-slide">
            <img src="static/img/슬라이드2.png" style="margin-left:20px;" />

          </div>
          <div class="swiper-slide">
            <img src="static/img/슬라이드3.png" />

          </div>

        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-prev">
        <span class="material-icons">arrow_back</span>
      </div>
      <div class="swiper-next">
        <span class="material-icons">arrow_forward</span>
      </div>

    </div>
  </section>


  <!--REWARDS-->
  <section class="rewards">
    <div class="bg-left"></div>
    <div class="bg-right"></div>
    <div class="inner">
      <div class="btn-group">
        {% if user.is_authenticated %}
            <a href="{% url 'mypage' %}"><div class="btn gift" style="width: 251px;" >마이 페이지</div></a>
            <a href="{% url 'search_pages' %}"><div class="btn gift" style="width: 251px;" >멘토 리스트</div></a>
        {% else %}
            <a href="{% url 'signup' %}" ><div class="btn sign-up">회원가입</div></a>
            <a href="{% url 'login' %}" ><div class="btn sign-in">로그인</div></a>
        {% endif %}
      </div>

    </div>
  </section>
  <section class="pick-your-favorite scroll-spy">
    <div class="inner">

      <div class="text-group">
        <h1 class="title back-to-position to-right delay-0">Pick</h1>
        
      </div>
      <div class="text-group">
        
        <h2 class="description back-to-position to-right delay-1">Your</h2>
       
      </div>
      <div class="text-group">
       
        <h3 class="more back-to-position to-right delay-2">Mentor</h3>
      </div>

    </div>
  </section>
  <!--커뮤니티-->
  <section class="reserve-store" style="
  height: 750px; 
">
    <div class="inner">

      <div class="medal" style="
      margin-top:190px;
    ">
        <div class="front">
          <img src="static/img/reserve_store_medal_front2.png" alt="R" width="400px">
        </div>
        <div class="back">
          <img src="static/img/커뮤니티2.png" width="400px">
          <a href="{% url 'cat_3' %}"
            class="btn">
            멘토 찾기
          </a>
        </div>
      </div>

    </div>
  </section>

 
  
  <!--FOOTER-->
  <footer>
    <div class="inner">
      <div class="info">
        <span>멋쟁이사자처럼 at 충북대학교 2조팀.</span>
      </div>

      <p class="copyright">
        &copy; <span class="this-year"></span> 2021 Menting Project
      </p>
    </div>
  </footer>


  <!--TO TOP BUTTON-->
  <div id="to-top">
    <div class="material-icons">arrow_upward</div>
  </div>
</body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a54fecdc7a8b95b1d99956fac243954c&libraries=services"></script>
</html>
{% endblock content %}