{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<head>
    <link href="{% static 'css/mypage.css' %}" rel="stylesheet" type="text/css" /> 
    <link href="{% static 'css/done.css' %}" rel="stylesheet" type="text/css" /> 
    <link href="{% static 'css/todo.css' %}" rel="stylesheet" type="text/css" /> 
    <link href="{% static 'css/tab.css' %}" rel="stylesheet" type="text/css" /> 
</head>

<body>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>  
  
  <!-- 위에 base와 겹쳐서 보이지 않는다 그래서 추가 -->
    
    <p class = "profile">
        <p class = "name">안녕하세요 {{ user.name }}님</p><br>
        <img src="/static/img/기본프로필.jpg"  class = "profileimg"/>

        <!-- 멘토 -->
        {% if user.studenttype == True and user.mentor_check == True %}
        <div class ="information">
            <p>회원 타입 : <span style="color:gray">멘토</span></p><br>
            <p>아이디 : {{user.username}}</p><br>
            <p>이메일 : {{user.email}}</p> <br>
            <p>대학교 : {{user.university}}</p><br>
            <p>학번 : {{user.studentnumber}}</p><br>
            <p>입학전형 : {{user.entrancetype}}</p><br>
            <p>출신 고등학교 : {{user.highschool}}</p><br>
            <p>멘팅 평점 : {{user.avg}} 점</p><br>
        </div>
        {% endif %}
        
        <!-- 멘토 미인증 -->
        {% if user.studenttype == True and user.mentor_check == False %}
        <div class ="information">
            <p>회원 타입 : <span style="color:gray">멘토(검토예정)</span></p><br>
            <p>아이디 : {{user.username}}</p><br>
            <p>이메일 : {{user.email}}</p> <br>
            <p>대학교 : {{user.university}}</p><br>
            <p>학번 : {{user.studentnumber}}</p><br>
            <p>입학전형 : {{user.entrancetype}}</p><br>
            <p>출신 고등학교 : {{user.highschool}}</p><br>
        </div>
        {% endif %}
        
        <!-- 멘티 보여주는 정보량이 가장 적음 -->
        {% if user.studenttype == False and user.mentor_check == False %}
        <div class ="information">
            <p>회원 타입 : <span style="color:gray">멘티</span></p><br>
            <p>아이디 : {{user.username}}</p><br>
            <p>이메일 : {{user.email}} </p><br>
            <br><br><br><br><br><br><br><br>
            
        </div>

        <div class="js-todo todo">
            <div class="todo-container-wrapper">
              <div class="js-todoContainer todo-container">
                <div class="js-todoHeader todo-header">
                  <div class="js-tab-list tab-list tab_active" data-tabnum="0">
                    <a href="#">WANTED</a>
                  </div>
                  <div class="js-tab-list tab-list" data-tabnum="1">
                    <a href="#">REQUESTED</a>
                  </div>
                </div>
      
                <div class="js-todoContent todo-content">
                  <ul id="todo-list" class="todoList"></ul>
                  <ul id="done-list" class="todoList"></ul>
                </div>
      
                <div class="js-todoInput todo-input">
                  <form id="inputForm">
                    <input type="text" id="inputTodo" placeholder="Note mentor you want." 
                    autocomplete="off"/>
                  </form>
                </div>
              </div>
              <div class="nipple"></div>
            </div>
            <h3 class="js-todo-h3 todo-h3">Todo</h3>
          </div>

        {% endif %}
    
        <div class = "buttons">
            <a href="{% url 'mypage' %}"
                    onclick="window.open('change_email/','이메일 변경','width=500, height=500,menubar=no, status=no, toolbar=no');"><button class="button" style="vertical-align:middle"><span>이메일
                        변경</span></button></a>
            <a href="{% url 'mypage' %}"
                    onclick="window.open('password_change/','비밀번호 변경','width=500, height=500,menubar=no, status=no, toolbar=no');"><button class="button" style="vertical-align:middle"><span>암호 변경</span></button></a>
            <a  href="{% url 'requestslist' %}"><button class="button" style="vertical-align:middle"><span>멘팅 리스트</span></button></a>
            <a href="{% url 'mypage' %}"
                    onclick="window.open('user_delete/','회원 탈퇴','width=500, height=500,menubar=no, status=no, toolbar=no');"><button class="button1">회원 탈퇴</button></a><br>
        </div>
        
    </p>
    
<footer>
  <p class= "info" >멋쟁이사자처럼 at 충북대학교 2조팀.</p>
  
</footer>
</body>
<script defer src="/static/js/todo.js"></script>
    <script defer src="/static/js/done.js"></script>
    <script defer src="/static/js/tab.js"></script>


{% endblock content %}

