{% extends 'accounts/popup_base.html' %}
{% load static %}

{% block head_content %}
<link href="{% static 'css/password_reset.css' %}" rel="stylesheet">
<title>
    비밀번호 초기화
</title>
{% endblock head_content %}

{% block content %}

<p class="explain">
    가입할떄 사용한 이메일을 입력해 주세요 <br>
    해당 이메일로 아이디와 비밀번호 초기화 링크가 보내집니다.    
</p>

<form method="post" action="{% url 'password_reset' %}" class ="submit">
    {% csrf_token %}
    <div>
        <label for="id_email">Email:</label>
        <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
    </div>

    <button type="submit">변경 메일 보내기</button>

</form>
{% endblock content %}

