{% extends 'accounts/password_reset_base.html' %}
{% load static %}

{% block head_content %}
    <link href="{% static 'css/password_reset.css' %}" rel="stylesheet">
    <title>
        비밀번호 초기화 완료
    </title>
{% endblock head_content %}

{% block content %}
    <br>
        <p class="title">
            비밀번호를 <span style="color:skyblue">변경</span> 했습니다
        </p>
    <br>
    <hr>
    
    <div class ="btn-close">
        <a href="{% url 'login'%}"><button>로그인 하러가기</button></a>
    </div>

{% endblock content %}
