{% extends 'accounts/popup_base.html' %}
{% load static %}

{% block head_content %}
<link href="{% static 'css/password_change.css' %}" rel="stylesheet">
<title>
    비밀번호 변경하기
</title>
{% endblock head_content %}
{% block content %}

    <p class = "title">
        멘팅 계정의 비밀번호를 새로 변경 했습니다.
    </p>

    <hr>
    <div class = "explain">
        이창은 3초 뒤에 종료됩니다
    </div>

    <script language="javascript" type="text/javascript">
        setTimeout(function() {
        opener.location.reload(); //부모창 리프레쉬
        self.close(); //현재창 닫기
        }, 3000); // 2초후 실행 1000당 1초
    </script>

{% endblock content %}