{% extends 'accounts/popup_base.html' %}
{% load static %}

{% block head_content %}
<link href="{% static 'css/password_reset.css' %}" rel="stylesheet">
<title>
    비밀번호 초기화
</title>
{% endblock head_content %}

{% block content %}

<p class = "title">
    메일보내기 <span style = "color: skyblue">실패</span>
    <br> 일치하지 않는 메일 입니다
</p>
<br>
<hr>
<br>
<p class = "explain">
    이메일을 확인하여 다시 시도 해주세요
</p>

<div class="btn-close">
    <input type='BUTTON' value=" 창닫기" onClick='self.close()'> 
</div>

{% endblock content %}