{% extends 'accounts/popup_base.html' %}
{% load static %}

{% block head_content %}
<link href="{% static 'css/password_change.css' %}" rel="stylesheet">
<title>
    비밀번호 변경하기
</title>
{% endblock head_content %}
{% block content %}

<p class = "title">
    멘팅 계정의 비밀번호를 <span style="color:deepskyblue">변경</span> 하시겠습니까?
</p>
    
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
        <input type="submit" value="변경">
    </form>

{% endblock content %}