{% extends 'accounts/password_reset_base.html' %}
{% load static %}

{% block head_content %}
    <title>
        비밀번호 초기화
    </title>
{% endblock head_content %}

{% block content %}
    <p class ="title">비밀번호 <span style ="color:skyblue">초기화</span></p>
    <hr>
    <br>
    <div class = "explain">
        <li>귀하의 비밀번호는 귀하의 다른 개인 정보와 너무 유사할 수 없습니다.</li>
        <li>비밀번호는 8자 이상이어야 합니다.</li>
        <li>귀하의 비밀번호는 일반적으로 사용되는 비밀번호가 될 수 없습니다.</li>
        <li>비밀번호는 완전히 숫자일 수 없습니다.</li>
    </div>


    <form action="" method="post" class ="submit">
        {% csrf_token %}
        <p>
            <label for="id_new_password1">새로운 비밀번호:</label>
            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"> 
        </p>
        <p>
            <label for="id_new_password2">새로운 비밀번호 확인:</label>
            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
        </p>
        <input type="submit" value=" 비밀번호 변경" >
    </form>

{% endblock content %}

