<div style="text-align:center">
    <h1>회원가입</h1>


    <div style="text-align:center; color: red">
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    </div>


    <form method = "POST" action="{%url 'signup' %}" enctype = "multipart/form-data">
        {% csrf_token %}
        이름 : {{form.name}}
        <br>
        <br>
        이메일 : {{form.email}}
        <br>
        <br>
        아이디 : {{form.username}}
        <br>
        <br>
        비밀번호 : {{form.password1}}
        <br>
        <br>
        비밀번호 확인 : {{form.password2}}
        <br>
        <small>비밀번호는 다른 개인 정보와 너무 비슷할 수 없습니다.<br>
            비밀번호는 8 자 이상이어야합니다.<br>
            비밀번호는 일반적으로 사용되는 비밀번호가 될 수 없습니다.<br>
            비밀번호는 완전히 숫자 일 수 없습니다.</small>
        <br>
        닉네임 : {{form.nickname}}
        <br><br>
        <br>
        멘토입니까? {{form.studenttype}}<br>
        <details >
            <summary>멘토 가입 전용</summary>
            <br><br>
            대학교 : {{form.university}}
            <br><br>
            전공 : {{form.major}}
            <br><br>
            학번 : {{form.studentnumber}}
            <br><br>
            고등학교 선택 {{form.highschool}}
            <br><br>
            입시전형 : {{form.entrancetype}}
            <br><br>
            증명서 첨부 : {{ form.image }}
            <br>
        </details>
        
        <button type= 'submit', onclick="return confirm('이 정보로 회원가입 하시겠습니까?');"> 회원가입 </button>
    </form>


    
</div>
