<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Signup</title>
  <link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/signup.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
  {{error}}
  <div class="container">
    <div class="con5">
    <img class="logo_instagram" src="{% static 'img/멋사로고.png' %}" alt="instagram_logo">
    <form action="{% url 'signup' %}" method="POST">
      {% csrf_token %}
      <div class="signupform">
        <span>이&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp름&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        {{form.name}}
      </div>
      <br>
      <div class="signupform">
        <span>이&nbsp&nbsp 메&nbsp&nbsp 일&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        {{form.email}}
      </div>
      <br>
      <div class="signupform">
        <span>아 &nbsp&nbsp이&nbsp&nbsp 디&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        {{form.username}}
      </div>
      <br>
      <div class="signupform">
        <span>닉&nbsp&nbsp 네&nbsp&nbsp 임&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        {{form.nickname}}
      </div>
      <br>
      <div class="signupform">
        <span>비 &nbsp밀 &nbsp번&nbsp 호&nbsp&nbsp</span>
        {{form.password1}}
      </div>
      <br>
      <div class="signupform">
        <span>비밀번호 확인</span>
        {{form.password2}}
      </div>
      <br>
      <div class="signupform">
        <span>멘토입니까</span>
        {{form.studenttype}}
      </div>
      <br>
      <details>
        <summary>멘토 가입 전용</summary>
        <br><br>
        대학교 : {{form.university}}
        <br><br>
        전공 : {{form.major}}
        <br><br>
        학번 : {{form.studentnumber}}
        <br><br>
        고등학교 선택 {{form.highschool}}
        <br><br>
        입시전형 : {{form.entrancetype}}
        <br><br>
        증명서 첨부 : {{ form.image }}
        <br>
      </details>
      <br>
      <button type='submit', class="btnmid", onclick="return confirm('이 정보로 회원가입 하시겠습니까?');"> 회 원 가 입 </button>
    </form>
    <span><a href="{% url 'home' %}"><button id="btn_pre">Cancel</button></a></span>
    <span><a href="{% url 'login' %}"><button id="btn_next" style="margin-left:29px;">Login</button></a></span>
  </div>
  </div>
</body>

</html>