

<h1> {{user.name}} 님(멘티) 안녕하세요</h1>

<h1>내가 신청한 요청</h1>
<p>
    {% for post in request_list %}
        {{post.id}}
        멘토 : {{post.mentor}}
        <br>
        {{post.mentee_highschool}}
        <br>
        {{post.grade}} 학년
        <br>
        {{post.mentee_entrancetype}} 전형
        <br>
        원하는 학과 : {{post.mentee_major}} 
        <br>
        <small>{{post.created_at}}</small>
        <br>
        <br>
        <a href = '{{post.id}}'><button>상세보기 및 확인</button></a>
        
        <hr>
        
    {% endfor %}
    <a href="{% url 'main' %}"><button>홈으로</button></a>
</p>