{% if user.mentor_check == True %}

<h1> {{user.name}} 님 안녕하세요(멘토)</h1>

<a href="{% url 'main' %}"><button>홈으로</button></a>
<h1>멘티들의 요청 리스트~</h1>

<h2>진행중인 멘팅</h2>
<div>
    {% for post in request_list %}
        {% if post.finish_check == 0 %}
            신청자 : {{post.mentee}}
            <br>
            재학중인 학교 :{{post.mentee_highschool}}
            <br>
            {{post.grade}} 학년
            <br>
            {{post.mentee_entrancetype}} 전형
            <br>
            원하는 학과 : {{post.mentee_major}} 
            <br>
            <small>{{post.created_at}}</small>
            <br>
            <a href = '{{post.id}}'><button>상세보기 및 확인</button></a>
            <hr>
        {% endif %}
    {% endfor %}
    
</div>
<hr><hr>

<h2>완료된 멘팅</h2>
<div>
    {% for post in request_list %}
        {% if post.finish_check == 1 %}
            신청자 : {{post.mentee}}
            <br>
            재학중인 학교 :{{post.mentee_highschool}}
            <br>
            {{post.grade}} 학년
            <br>
            {{post.mentee_entrancetype}} 전형
            <br>
            원하는 학과 : {{post.mentee_major}} 
            <br>
            <small>{{post.created_at}}</small>
            <br>
            <a href = '{{post.id}}'><button>상세보기 및 확인</button></a>
            <hr>
        {% endif %}
    {% endfor %}
    
</div>

{% endif %}

<!-- 미인증 멘토인 경우 -->
{% if user.mentor_check == False %}
<h1>
    {{user.name}}님은 아직 인증된 멘토가 아닙니다
</h1>
{% endif %}