{% if user == post.mentee or user == post.mentor %}
    <div>  
        {{post.mentee}}님의 요청
        <br>
        멘토 : {{post.mentor}}
        <br>
        {{post.mentee_highschool}}
        <br>
        {{post.grade}} 학년
        <br>
        {{post.mentee_entrancetype}} 전형
        <br>
        원하는 학과 : {{post.mentee_major}} 
        <br>
        상담 내용:{{post.counsel}}
        <br>
        <small>{{post.created_at}}</small>
        <br>
        {% if user.mentor_check == True %}
            <form action='#'>
                <input type='submit' value='수락'/>
                <input type='submit' value='거절'/>
            </form>
        {% endif %}
        <a href='{% url "requestslist"%}'><button>돌아가기</button></a>
    </div>
{% else %}

    <div>
        <h1>
            접근 권한이 없습니다
            <a href='{% url "requestslist"%}'><button>돌아가기</button></a>
        </h1>
    </div>

{% endif %}
