{% load static %}

<h1>
        멘팅 상담서
</h1>

<form action = "{% url 'requestform' %}" method ='POST'>
    
    {% csrf_token %}
        고등학교 : {{form.mentee_highschool}}
        <br>
        <br>
        학년 선택 {{form.grade}}
        <br>
        <br>
        원하는 입시 전형 {{form.mentee_entrancetype}}
        <br>
        <br>
        원하는 학과 : {{form.mentee_major}} 
        <br>
        <br>
        상담 내용:{{form.counsel}}
        <br><br>
    <button type='submit' onclick="return confirm(' 확인을 누르면 멘토에게 연락을 보냅니다 연락을 보내시겠습니까? ');" > 멘팅 요청하기 </button>
</form>
