{% load static %}   
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>요청 상세보기</title>
</head>

{% if user == post.mentee or user.username == post.mentor  %}
    <div>  
        {{post.mentee}}님 요청의 멘팅
        <br>
        멘토 : {{post.mentor}}
        <br>
        고등학교 : {{post.mentee_highschool}}
        <br>
        {{post.grade}} 학년
        <br>
        원하는 입시전형 : {{post.mentee_entrancetype}}
        <br>
        원하는 학과 : {{post.mentee_major}} 
        <br>
        상담 내용 : {{post.counsel}}
        <br>
        <small>{{post.created_at}}</small>
        <br>
        <hr>


    {% for response in post.responses.all %}
    
        <div class="comment">
            
            <p>멘토 {{ response.author }}님의 응답</p>
            <p>{{ response.text|linebreaks }}</p>
            <small >{{ response.created_date }} </small>            
            
        </div>

        {% if user == post.mentee %}
            {% if post.finish_check == 0 %}
                <a href="{% url 'requestslist' %}" onclick="window.open('grade/','평점 남기기','width=500, height=500,menubar=no, status=no, toolbar=no');">
                <button>완료(평점 남기기)</button></a>
            {% endif %}
        {% endif %}  
        <hr>
    {% empty %}
        {% if user.username == post.mentor %}
            <a href="{% url 'response' post.id %}"><button>수락</button></a>
            <a href="{% url 'response_reject' post.id %}"><button>거절</button></a>
        {% endif %} 
        <hr>
        <p>아직 응답이 없습니다 :( </p>
        <hr>
    {% endfor %}

        <a href='{% url "requestslist"%}'><button>돌아가기</button></a>
    </div>

    
{%  else  %}

    <div>
        <h1>
            접근 권한이 없습니다
            <a href='{% url "requestslist"%}'><button>돌아가기</button></a>
        </h1>
    </div>

{%  endif  %}
