{% extends 'main/community_base.html' %}
{% load static %}
{% block content %}
<div class="community_detail">
    <br>
    <h1>제목 : {{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <small> 작성시간 : {{ post.updated_at }}</small>
</div>

<div class="community_detail">
<form action="{% url 'community_comment' post.id %}" method="POST">
    {% csrf_token %}
   댓글 : {{ post_form2.content }}
    <br>
    <br>
    <input type="submit" value="작성">
    <button><a href="{% url 'community_detail' post.id %}">취소</a></button> 
</form>

<br>
<h4>댓글 목록</h4>  
{% for comment in post.comment_set.all %} 
    <div class = "container">
        <div class = "card">
            <div class = "card-body">
                <h4> 작성자 : {{ comment.name }}</h4>
                <p2> 내용 : {{ comment.content }}</p2>
            </div>
        </div>
    </div> 
{% endfor %}
</div>
<div class="community_end">
    <br>
    <button><a href="{% url 'community_page' %}">목록</a></button> 
    <button><a href="{% url 'community_delete' post.id %}">삭제</a></button> 
</div>
{% endblock content %}