{% extends 'main/community_base.html' %}
{% load static %}
{% block content %}
<div class="community_page">
    <div class="community_page_detail">
            
                <table border="1">
                    <thead>
                        <th width="20%">작성자</th>
                        <th width="60%">제목</th>
                        <th width="20%">작성시간</th>
                    </thead>
                    <tbody>
                      {% for post in post_list %}
                      <tr>
                          <td>{{ post.username }}</td>
                          <td><a href="{% url 'community_detail' post.id %}">{{ post.title }}</a></td>
                          <td>{{ post.created_at }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
                <br>
                <button><a href = "{% url 'community_new' %}">새 글 쓰기</a></button>            
    </div>
</div>
{% endblock content %}