{% extends 'accounts/base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Community</title>
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
    <link href="{% static 'css/community.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Google Fonts - 나눔고딕-->
</head>

<body>
    <div class="community_new_page">
        <br>
        <form action="{% url 'community_new' %}" method="POST">
            {% if user.is_authenticated %}
            <h1>새 글 작성하기</h1>
            {% csrf_token %}
            <h6>작성자 : {{ user.username }}</h6>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">제목 </label>
                <input class="form-control form-control-sm" type="text" aria-label=".form-control-sm example"
                    name="title">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">내용 </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="4"></textarea>
            </div>

            <!-- <div class="form-group-row">
                <label for="title">제목 : </label>
                <textarea class="form-title" name="title" rows="1" cols="50"></textarea>
            </div>
            <br>
            <div class="form-group-row">
                <label for="content">내용 : </label>
                <textarea class="form_content" name="content" rows="3" cols="150"></textarea>
            </div> -->

            <br>
            <div class="button_locate">
                <input type="submit" value="작성" class="btn btn-outline-secondary btn-sm">
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'community_page' %}" role="button">취소</a>
            </div>
            {%else%}
            <h6>로그인 하셔야 글을 작성 하실 수 있습니다.</h6>
            {% endif %}

        </form>
    </div>

    <footer>
        <div class="inner">
            <div class="info">
                <span>멋쟁이사자처럼 at 충북대학교 2조팀.</span>
            </div>

            <p class="copyright">
                &copy; <span class="this-year"></span> 2021 Menting Project
            </p>
        </div>
    </footer>
</body>

</html>
{% endblock content %}