{% extends 'main/community_base.html' %}

{% block content %}
<div class="community_new">
<h1>댓글 수정하기</h1>
<br>
<form action="{% url 'comment_edit' post.id comment.id %}" method="POST">
    {% if user.is_authenticated %}
    {% csrf_token %}
    작성자 : {{ user.username }}
    <br><br>
    내용 : {{ form.content }}
    <br><br> 
    <input type="submit" value="작성" class="btn btn-outline-secondary">
    <button class="btn btn-outline-secondary"><a href="{% url 'community_detail' post.id %}" class="link-dark">취소</a></button> 
    {% endif %}
</form>
</div>
{% endblock content %}