{% extends 'main/community_base.html' %}
{% load static %}
{% block content %}
<div class="search_page">
    <div class="search_top">
        {% if user.is_authenticated %}
        <h1>{{user.username}}님 반갑습니다!</h1>
        {% endif %}
    </div>
    <br>
    <div class="search_mid">
        <br>
        <h1>대학교의 선배님들</h1>
        <h2>검색돋보기</h2>
        <br><br><br><br>
    </div>
    <div class ="search_page_detail">
    <table width="85%" border="1">
        <thead class="table-secondary">
            <th width="9%">닉네임</th>
            <th width="9%">학과</th>
            <th width="9%">학번</th>
            <th width="9%">입시전형</th>
            <th width="9%">출신고등학교</th>
            <th width="9%">평점</th>
            <th width="9%">선택</th>
        </thead>
        <tbody>

    {% for customer in customer_list %}
    {% if customer.studenttype == True and customer.mentor_check == True %}
    <tr>
        <td>{{ customer.username}}</td>
        <td>{{ customer.major }}</td>
        <td>{{ customer.studentnumber }}</a></td>
        <td>{{ customer.entrancetype }}</td>
        <td>{{ customer.highschool }}</td>
        <td>평점</td>
        <td><a href="{% url 'example_page' customer.id %}" class="link-dark">선배연결</a></td>
    </tr>
    {% endif %}
    {% endfor %}

        </tbody>
    </table>
    </div>
</div>

    <div class ="search_button">
        <br>
        <button class="btn btn-outline-secondary">선배 만나러 가기</button>
    </div>

{% endblock content %}

