a:link{
    text-decoration: none;
}

.community_main{
    padding-top: 20px;
    height: 80px;
    background-color:white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
}

.community_main p{
    margin-left: 100px;
    font-size: 30px;
    font-weight: bold;
    color: blueviolet;
}

.community_menu{
    margin-top: 10px;
    margin-left: 900px;
    display: flex;
}

.community_menu h4{
    margin-left: 50px;
    font-size: 20px;
    color: blueviolet;
} 

.community_new {
    margin-top: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.community_detail {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.community_detail h1 , .notice_detail h1{
    color: blueviolet;
    font-size: 30px;
}

.community_detail h4{
    color: blueviolet;
}

.community_end {
    margin-left: 100px;
}

.community_page {
    margin-top: 100px;
}

.community_page_detail {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 150px;
    text-align: center;
}

.commuinty_page_button {
    margin-left: 79%;
}

.search_page {
    margin-top: 100px;
    text-align: center;
}

.search_page_detail {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.search_top {
    margin-left: 80%;
}

.search_top h1{
    font-size:20px;
}

.search_mid {
    display: flex;
    margin-left: 10%;
}

.search_mid h2{
    margin-left: 695px;
}

.search_button {
    margin-left: 10%;
}

.notice_page {
    margin-top: 100px;
    text-align: center;
}

.notice_page_detail {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 150px;
    text-align: center;
}

.notice_page_button {
    margin-left: 64%;
}

.notice_detail {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.notice_end {
    margin-left: 100px;
}