.menting{
    margin-right: -150px;
}
.top{
    justify-content: right;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 1300px;
    padding-left: 13px;
}
.toplog{
    margin-top: -60px;
    margin-bottom: 10px;
    margin-right: 80px;
    justify-content: flex-end;
    display: flex;
}
.log{
    margin-top: 0px;
    margin-right: 10px;
}
.create{
    margin-top: 0px;
    margin-right: 10px;
}
svg{
    margin-left: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}
h2{
    margin-top: -5px;
    margin-left: 15px;
}
.search{
    width: 400px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
}
span{
    width: 50px;
    height: 40px;
    justify-content: center;
}
#map{
    margin-left: 20px;
}
input {
    
    margin-left: 700px;
    margin-top: 30px;
}
